.Container {
    margin: 10% 30%;
}

.Card-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Api-Container {
    margin-top: 5%;
}

.Api-Selection {
    display: flex;
    flex-direction: row;
}

.Api-Items {
    display: flex;
    flex-direction: column;
}

.Create-Button {
    margin-left: 10%;
}