            .Container {
                margin: 10% 30%;
            }
            
            .Card-Container {
                height: 50vh;
                width: 40vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            
            .Close-Container {
                position: absolute;
                margin: -1.4% 38%;
                z-index: 2;
                font-size: 5%;
                background-color: rgb(153, 152, 152);
                padding: 10px 15px;
                border-radius: 50%;
                color: white;
                box-shadow: 0px 0px 8px 0px rgb(182, 182, 182);
            }
            
            .Close-Container:hover {
                box-shadow: 0px 0px 8px 1px rgb(182, 182, 182);
                cursor: pointer;
            }
            
            .Api-Container {
                margin-top: 5%;
            }
            
            .Api-Selection {
                display: flex;
                flex-direction: row;
            }
            
            .Api-Items {
                display: flex;
                flex-direction: column;
            }
            
            .Create-Button {
                margin-left: 10%;
            }