.signin-page {
    display: flex;
    flex-direction: row;
}

.Login {
    margin-top: 5%;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.avatar {
    display: inline;
    color: white;
    margin: 1%;
    background-color: rgb(211, 98, 98);
    border-radius: 100%;
    padding: 7px 10px;
}

form {
    margin-top: 3%;
}

.line {
    margin-top: 3%;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    height: 450px;
}

.sign-username,
.sign-password,
.sign-button-inside {
    width: 70%;
}

.sign-remember {
    margin-top: 10px;
    margin-left: 15%;
    display: flex;
    align-items: flex-start;
}

.sign-button {
    margin-bottom: 20px;
}

.sign-forget:hover {
    cursor: pointer;
    text-decoration: underline;
}